 /* .Container .card .face .face1{
    position: relative;
    background: #333;
    display: flex;
    justify-content: center;
    z-index: 1;
    transform: translateY(100px);
}
.Container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
}
.Container .card .face.face1 .content i {
    max-width: 100px;
}
.Container .card .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0,0.8);
    transform: translateY(-100px);
}

.Container .card:hover .face.face2 {
    transform: translateY(0);
}

i{
    height: 200px;
    width: 200px;
} 






 */


 .Container{
    height: 220px;
    width: 250px;
    color: #4cd137;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 40px;
    border-radius: 15px;
    background-color: #2f3640;
    font-family: Arial, Helvetica, sans-serif;
 }
 input{
    width: 25px;
    height: 25px;
    margin: 8px 3px ;
    font-size: 18px;
    outline: none;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
    text-align: center;
    color: #4cd137;
    background: transparent;
 }

 h1{
    text-align: center;
    font-weight: 900;
 }
